/* Put here all css out of tailwind css */

.activeButton {
  background-color: blue !important;
  color: white !important;
}

.activeLink {
  
  color: blue !important;
  width: 45px;
}

body {
  font-family: "Poppins", sans-serif !important;
}
.phantom {
background-size: auto;
}

